body {
    margin: 0;
    padding: 0;
    background-color: #00A7EA;
    font-weight: bold;
    width: 1600px;
    margin: auto
}

p {
    margin-left: 30px;
    font-size: 24px;
    color: #ffffff;
    font-weight: bold;
}

span {
    font-size: 40px;
}

strong {
    color: #00A7EA;
}

a {
    color: #00A7EA;
}